PORT=3001
DATABASE_URL=mongodb+srv://sobree:jack084093@boarddatawow.e9hgl.mongodb.net/?retryWrites=true&w=majority&appName=boarddatawow
JWT_SECRET=myLuzuduSecretKey
SESSION_SECRET=your-secret-key-session
URL_FRONTEND=http://localhost:3000